@import "tailwindcss";

:root {
  --color-background-primary: #0a0a0a;
  --color-grey-border: #262626;
  --color-grey: #171717;
  --color-gray-text: #a3a3a3;
  --color-rose: #be123c;
  --color-yellow: #eab30880;
}

html {
  background-color: var(--color-background-primary);
  color: white;
}

body {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.hide-scrollbar {
  -ms-overflow-style: none; 
  scrollbar-width: none; 
}

@media (max-width: 390px) {
  .side-nav {
    display: flex !important;
    width: 100%;
  }
  .menu-button{
    width: 100%;
  }
}
