@import "tailwindcss";

:root {
  --color-background-primary: #0a0a0a;
  --color-grey-border: #262626;
  --color-grey: #171717;
  --color-gray-text: #a3a3a3;
  --color-natural-text: #fafafa;
  --color-rose: #be123c;
  --color-yellow: #eab30880;
  --color-gradient-first: #eab30800;
  --color-gradient-second: #eab20879;
}

html {
  background-color: var(--color-background-primary);
  color: white;
}

body {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

@media (max-width: 390px) {
  .sidenav {
    display: hidden !important;
    width: 100%;
    min-width: 345px;
    padding-bottom: 70px;
  }
  .sidenav span {
    text-align: start;
  }
  .bottomnav {
    display: flex;
  }
  .menu-button {
    width: 100%;
  }
  .new-btn {
    margin-left: -12px;
  }
  .navBtn {
    display: none;
  }

}

@media (max-width: 475px) {
  .navBtn {
    margin-left: 2px;
    margin-right: 0;
  }
}