@import "tailwindcss";

:root {
  --color-background-primary: #0a0a0a;
  --color-grey: #262626;
  --color-grey-border: #171717;
  --color-rose: #be123c;
  --color-yellow: #eab30880;
}

html {
  background-color: var(--color-background-primary);
  color: white;
}

body {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}
